@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 12.5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 12.5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12.5%;

    --primary: 166 96% 22%;
    --primary-foreground: 159 100% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 166 96% 22%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 165 80% 6%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 166 96% 22%;

    --destructive: 0 100% 64%;
    --destructive-foreground: 159 100% 98%;

    --border: 0 0% 90%;
    --input: 230 10% 89%;
    --ring: 180 5% 93%;

    --radius: 12px;
  }

  .dark {
    --background: 0 0% 12.5%;
    --foreground: 159 100% 98%;

    --card: 0 0% 12.5%;
    --card-foreground: 159 100% 98%;

    --popover: 0 0% 12.5%;
    --popover-foreground: 159 100% 98%;

    --primary: 159 100% 98%;
    --primary-foreground: 166 96% 22%;

    --secondary: 160 60% 25%;
    --secondary-foreground: 159 100% 98%;

    --muted: 160 60% 25%;
    --muted-foreground: 159 59% 80%;

    --accent: 160 60% 25%;
    --accent-foreground: 159 100% 98%;

    --destructive: 0 100% 30%;
    --destructive-foreground: 159 100% 98%;

    --border: 160 60% 25%;
    --input: 160 60% 25%;
    --ring: 159 30% 84%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}



.border-animate {
  position: relative;
}

.border-animate::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: hsl(var(--primary));
  animation: fillBorder 3s linear forwards;
}

@keyframes fillBorder {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* styles.css */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}